# 忽略所有无后缀名的文件(不忽略无后缀名的目录)，这三条规则的目的在于忽略无后缀名的linux可执行文件
*
!*.*
!*/

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# my ignoration
*.exe
*.class
.idea
*.iml