# 这个子gitignore文件的目的：
# Windows下，我用的是MinGW-W64的g++。这里我组织命名题目文件夹的方式，题目的cpp文件路径中会出现中文和空格，
# 对于运行C++，在Windows下，VSCode运行会出现找不到文件的问题，命令行手动g++编译是ok的，但是命令行手动gdb还是有问题。
# 应该是MinGW-W64的gdb的问题，VSCode是能成功编译出可执行文件的，但是到用gdb启动程序时，由于中文路径，gdb会报错找不到文件。
# 而Ubuntu下，虽然路径有中文和空格，VSCode，命令行g++，命令行gdb都没出问题。
# 于是考虑在这个scratch文件夹下放p.cpp文件，在这里运行调试，然后提交好后再复制到对应的文件里
p*.cpp